.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  justify-content: center;
  height: 80vh;
  align-content: center;
}


p {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  font-size: 15px;
}